header {
   position:fixed;
   left: 18%;
   -moz-box-shadow: 1px 1px 3px 2px #36393e;
   -webkit-box-shadow: 1px 1px 3px 2px #36393e;
   box-shadow: 1px 1px 3px 2px #36393e;
}

.menu {
	padding:5px 10px;
}

.menu li {
	display:inline;
  	vertical-align:middle;
  	line-height:35px;
  	padding: 3px;
}