/*-------------------------basic setup------------------------------------------*/
html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*---------------Header-------------------------------*/

header {
    /*position: fixed;*/
    background-color: aqua;
    padding: 0;
    width: 100%;
}

h1 {
    padding-top: 20px;
    margin-left: 40px;
}

/*----------------------navigation-------------------------*/

.menu {
	padding:25px 10px;
}

.menu li {
	display:inline;
  	vertical-align:middle;
  	line-height:35px;
  	padding-left: 20px;
}

/*--------------------Section----------------------------------*/

.hero-section {
    width: 960px;
}

.fs_column1 {
    background-color: chocolate;
    
    text-align: justify;
    padding-right: 10px;
    margin: 0;
}

.fs_column2 {
    background-color: burlywood;
    
    text-align: justify;
    padding-right: 10px;
    margin: 0;
}

.fs_column3 {
    background-color: forestgreen;
    
    padding-right: 10px;
    text-align: justify;
    margin: 0;
}

.hero {
    background-color: #00d0ff;
    
    text-align: justify;
    width: 100;
    height: auto;
    margin: 0;
}

.ss_column1 {
    background-color: cornflowerblue;
    
    text-align: justify;
    width: auto;
    padding-right: 10px;
    margin: 0;
}

.ss_rgt_column1 {
    background-color: dimgrey;
    
    text-align: justify;
    padding-right: 10px;
    margin: 0;
}

.ss_rgt_column2 {
    background-color: bisque;
    
    text-align: justify;
    padding-right: 10px;
    margin: 0;
}

.ss_rgt_column3 {
    background-color: darkgray;
    
    text-align: justify;
    padding-right: 10px;
    margin: 0;
}

/*----------------------Footer-------------------------------------*/

footer {
    background-color: orange;
    width: auto;
    text-align: justify;
}

.details {
    text-align: center;
}

.icons {
    float: right;
    margin-left: 20px;
}

