body {
    margin: 0;
}

header {
    overflow: hidden;
    position: fixed;
    background-color: #ea7f13;
    height: 80px;
    width: auto;
}

h1 {
    margin-left: 20px;
    padding-top: 10px;
}

li {
    text-decoration: none;
    display: inline;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;
}

section {
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 80px;
    text-align: center;
}

footer {
    background-color: burlywood;
    height: 60px;
    width: auto;
}

.icon {
    float: right;
    padding-top: 20px;
}